/**
 * The css file of ZenTaoPHP framework.
 *
 * All request should be routed by this router.
 *
 * The author disclaims copyright to this source code.  In place of
 * a legal notice, here is a blessing:
 * 
 *  May you do good and not evil.
 *  May you find forgiveness for yourself and forgive others.
 *  May you share freely, never taking more than you give.
 */
body {padding-bottom: 40px;}
.hero-unit {padding: 60px; margin-bottom: 30px; font-size: 18px; font-weight: 200; line-height: 30px; color: inherit; background-color: #eee; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;}
#nav-right .btn{margin-top:3px; width:40px;}
.pager{margin:0}

/* Enable use of floated navbar text. */
@media (max-width: 980px) {.navbar-text.pull-right {float: none; padding-left: 5px; padding-right: 5px;}}
